@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Viga&display=swap');

body{
  background-image: url(img/kamar.jpg);
  background-size: cover;
  box-sizing: border-box;
}


.container{
  border-radius: 10px;
  position: absolute;
  padding: 30px;
  width: 450px;
  height: 515px;
  align-items: center;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container button{
  margin-top: 17px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 20px;
  width: 100%;
}

.form-check{
  margin-bottom: 15px;
}

.js{
  padding-bottom: 10px;
}

.test{
  margin-top: 100px;
  margin-left: 165px;
}

.judul{
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 20px;
  font-family: 'Viga', sans-serif;
}